@font-face {
    font-family: "icons";
    src: url("./icons.eot?9327d6056be5cf7279ff56800e64fba9#iefix") format("embedded-opentype"),
url("./icons.woff2?9327d6056be5cf7279ff56800e64fba9") format("woff2"),
url("./icons.woff?9327d6056be5cf7279ff56800e64fba9") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
    content: "\f101";
}
.icon-minus:before {
    content: "\f102";
}
