@font-face {
    font-family: "nzsb-icons";
    src: url("./nzsb-icons.eot?964d53b850b30b2f9c3d5d153f2d475b#iefix") format("embedded-opentype"),
url("./nzsb-icons.woff2?964d53b850b30b2f9c3d5d153f2d475b") format("woff2"),
url("./nzsb-icons.woff?964d53b850b30b2f9c3d5d153f2d475b") format("woff");
}

i[class^="nzsb-"]:before, i[class*=" nzsb-"]:before {
    font-family: nzsb-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nzsb-busi-checked-shield:before {
    content: "\f101";
}
.nzsb-busi-wheel-barrow:before {
    content: "\f102";
}
.nzsb-sys-cart:before {
    content: "\f103";
}
.nzsb-sys-chevron-down:before {
    content: "\f104";
}
.nzsb-sys-minus:before {
    content: "\f105";
}
