@font-face {
    font-family: "nzsb";
    src: url("./nzsb.eot?337c216ce214d6a607f88ef95b5a97a6#iefix") format("embedded-opentype"),
url("./nzsb.woff2?337c216ce214d6a607f88ef95b5a97a6") format("woff2"),
url("./nzsb.woff?337c216ce214d6a607f88ef95b5a97a6") format("woff");
}

i[class^="nzsb-"]:before, i[class*=" nzsb-"]:before {
    font-family: nzsb !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nzsb-business-award-2:before {
    content: "\f101";
}
.nzsb-business-career:before {
    content: "\f102";
}
.nzsb-business-checked-shield:before {
    content: "\f103";
}
.nzsb-business-crate-1:before {
    content: "\f104";
}
.nzsb-business-crate-2:before {
    content: "\f105";
}
.nzsb-business-crate-3:before {
    content: "\f106";
}
.nzsb-business-crate-4:before {
    content: "\f107";
}
.nzsb-business-exclamation-1:before {
    content: "\f108";
}
.nzsb-business-exclamation-2:before {
    content: "\f109";
}
.nzsb-business-idea:before {
    content: "\f10a";
}
.nzsb-business-promotion:before {
    content: "\f10b";
}
.nzsb-business-stack:before {
    content: "\f10c";
}
.nzsb-business-thumbs-up:before {
    content: "\f10d";
}
.nzsb-business-traffic-cone:before {
    content: "\f10e";
}
.nzsb-business-wheel-barrow:before {
    content: "\f10f";
}
.nzsb-businesx-award-1:before {
    content: "\f110";
}
.nzsb-cafe-and-office-coffee:before {
    content: "\f111";
}
.nzsb-cafe-and-office-cuttleries-1:before {
    content: "\f112";
}
.nzsb-cafe-and-office-cuttleries-2:before {
    content: "\f113";
}
.nzsb-cafe-and-office-cuttleries-3:before {
    content: "\f114";
}
.nzsb-cafe-and-office-spray-bottle-2:before {
    content: "\f115";
}
.nzsb-cafe-and-office-spray-bottle:before {
    content: "\f116";
}
.nzsb-cafe-and-office-spray-bottles-1:before {
    content: "\f117";
}
.nzsb-cafe-and-office-spray-bottles-2:before {
    content: "\f118";
}
.nzsb-cafe-and-office-spray-bottles-3:before {
    content: "\f119";
}
.nzsb-cafe-and-office-stapler:before {
    content: "\f11a";
}
.nzsb-cafe-and-office-stationary:before {
    content: "\f11b";
}
.nzsb-cafe-and-office-take-away-cup:before {
    content: "\f11c";
}
.nzsb-cafe-and-office-tea:before {
    content: "\f11d";
}
.nzsb-industrial-gas-detector-1:before {
    content: "\f11e";
}
.nzsb-industrial-gas-detector-2:before {
    content: "\f11f";
}
.nzsb-industrial-gas-flame-1:before {
    content: "\f120";
}
.nzsb-industrial-gas-flame-2:before {
    content: "\f121";
}
.nzsb-industrial-gas-gauge-1:before {
    content: "\f122";
}
.nzsb-industrial-gas-gauge-2:before {
    content: "\f123";
}
.nzsb-industrial-gas-gauge-3:before {
    content: "\f124";
}
.nzsb-industrial-gas-gauge-4:before {
    content: "\f125";
}
.nzsb-industrial-gas-hose-1:before {
    content: "\f126";
}
.nzsb-industrial-gas-hose-2:before {
    content: "\f127";
}
.nzsb-industrial-gas-hose-3:before {
    content: "\f128";
}
.nzsb-industrial-gas-hose-4:before {
    content: "\f129";
}
.nzsb-industrial-gas-leak-1:before {
    content: "\f12a";
}
.nzsb-industrial-gas-valve-1:before {
    content: "\f12b";
}
.nzsb-industrial-gas-valve-2:before {
    content: "\f12c";
}
.nzsb-industrial-gas-valve-3:before {
    content: "\f12d";
}
.nzsb-industrial-gas-valve-4:before {
    content: "\f12e";
}
.nzsb-industrial-gas-valve-5:before {
    content: "\f12f";
}
.nzsb-industrial-adhesive-gun:before {
    content: "\f130";
}
.nzsb-industrial-hook:before {
    content: "\f131";
}
.nzsb-industrial-lubricant-1:before {
    content: "\f132";
}
.nzsb-industrial-lubricant-2:before {
    content: "\f133";
}
.nzsb-industrial-lubricant-3:before {
    content: "\f134";
}
.nzsb-industrial-nut-and-bolt:before {
    content: "\f135";
}
.nzsb-industrial-plug-base:before {
    content: "\f136";
}
.nzsb-industrial-pully:before {
    content: "\f137";
}
.nzsb-packaging-box-1:before {
    content: "\f138";
}
.nzsb-packaging-box-2:before {
    content: "\f139";
}
.nzsb-packaging-box-3:before {
    content: "\f13a";
}
.nzsb-packaging-boxes-1:before {
    content: "\f13b";
}
.nzsb-packaging-checked-clipboard:before {
    content: "\f13c";
}
.nzsb-packaging-crossed-clipboard:before {
    content: "\f13d";
}
.nzsb-packaging-roll-1:before {
    content: "\f13e";
}
.nzsb-packaging-roll-2:before {
    content: "\f13f";
}
.nzsb-packaging-roll-3:before {
    content: "\f140";
}
.nzsb-packaging-roll-4:before {
    content: "\f141";
}
.nzsb-packaging-roll-5:before {
    content: "\f142";
}
.nzsb-packaging-roll-6:before {
    content: "\f143";
}
.nzsb-packaging-tape-1:before {
    content: "\f144";
}
.nzsb-packaging-tape-2:before {
    content: "\f145";
}
.nzsb-packaging-tape-3:before {
    content: "\f146";
}
.nzsb-packaging-tape-4:before {
    content: "\f147";
}
.nzsb-packaging-tape-5:before {
    content: "\f148";
}
.nzsb-packaging-two-rolls-1:before {
    content: "\f149";
}
.nzsb-safety-and-ppe-glove:before {
    content: "\f14a";
}
.nzsb-safety-and-ppe-masked-face:before {
    content: "\f14b";
}
.nzsb-safety-and-ppe-safety-goggles:before {
    content: "\f14c";
}
.nzsb-safety-helmet-on-1:before {
    content: "\f14d";
}
.nzsb-safety-helmet-on-2:before {
    content: "\f14e";
}
.nzsb-signage-board-1:before {
    content: "\f14f";
}
.nzsb-signage-board-2:before {
    content: "\f150";
}
.nzsb-signage-board-3:before {
    content: "\f151";
}
.nzsb-signage-exit:before {
    content: "\f152";
}
.nzsb-signage-extinuisher-1:before {
    content: "\f153";
}
.nzsb-signage-extinuisher-2:before {
    content: "\f154";
}
.nzsb-signage-extinuisher-3:before {
    content: "\f155";
}
.nzsb-signage-fire-exit-1:before {
    content: "\f156";
}
.nzsb-signage-fire-exit-2:before {
    content: "\f157";
}
.nzsb-sustainability-flood:before {
    content: "\f158";
}
.nzsb-sustainability-green-house:before {
    content: "\f159";
}
.nzsb-sustainability-rain:before {
    content: "\f15a";
}
.nzsb-sustainability-sun:before {
    content: "\f15b";
}
.nzsb-sustainability-tree:before {
    content: "\f15c";
}
.nzsb-system-abrasives:before {
    content: "\f15d";
}
.nzsb-system-angled-arrow:before {
    content: "\f15e";
}
.nzsb-system-arrow-down:before {
    content: "\f15f";
}
.nzsb-system-arrow-left:before {
    content: "\f160";
}
.nzsb-system-arrow-right:before {
    content: "\f161";
}
.nzsb-system-arrow-up:before {
    content: "\f162";
}
.nzsb-system-calendar:before {
    content: "\f163";
}
.nzsb-system-cart:before {
    content: "\f164";
}
.nzsb-system-catalogue-1:before {
    content: "\f165";
}
.nzsb-system-catalogue-2:before {
    content: "\f166";
}
.nzsb-system-catalogue-3:before {
    content: "\f167";
}
.nzsb-system-catalogue:before {
    content: "\f168";
}
.nzsb-system-check:before {
    content: "\f169";
}
.nzsb-system-chevron-down:before {
    content: "\f16a";
}
.nzsb-system-chevron-left:before {
    content: "\f16b";
}
.nzsb-system-chevron-right:before {
    content: "\f16c";
}
.nzsb-system-chevron-up:before {
    content: "\f16d";
}
.nzsb-system-clear-rounded:before {
    content: "\f16e";
}
.nzsb-system-click:before {
    content: "\f16f";
}
.nzsb-system-close:before {
    content: "\f170";
}
.nzsb-system-cog-1:before {
    content: "\f171";
}
.nzsb-system-cog-2:before {
    content: "\f172";
}
.nzsb-system-cog-3:before {
    content: "\f173";
}
.nzsb-system-credit-card:before {
    content: "\f174";
}
.nzsb-system-crossed-heart:before {
    content: "\f175";
}
.nzsb-system-cycle:before {
    content: "\f176";
}
.nzsb-system-document:before {
    content: "\f177";
}
.nzsb-system-dollar-1:before {
    content: "\f178";
}
.nzsb-system-dollar-2:before {
    content: "\f179";
}
.nzsb-system-download-cloud:before {
    content: "\f17a";
}
.nzsb-system-download:before {
    content: "\f17b";
}
.nzsb-system-edit:before {
    content: "\f17c";
}
.nzsb-system-email:before {
    content: "\f17d";
}
.nzsb-system-expand-1:before {
    content: "\f17e";
}
.nzsb-system-expand:before {
    content: "\f17f";
}
.nzsb-system-external-link:before {
    content: "\f180";
}
.nzsb-system-eye:before {
    content: "\f181";
}
.nzsb-system-filter:before {
    content: "\f182";
}
.nzsb-system-grid:before {
    content: "\f183";
}
.nzsb-system-heart:before {
    content: "\f184";
}
.nzsb-system-history:before {
    content: "\f185";
}
.nzsb-system-hour-glass:before {
    content: "\f186";
}
.nzsb-system-info-squared:before {
    content: "\f187";
}
.nzsb-system-info:before {
    content: "\f188";
}
.nzsb-system-link:before {
    content: "\f189";
}
.nzsb-system-loader:before {
    content: "\f18a";
}
.nzsb-system-location-pin:before {
    content: "\f18b";
}
.nzsb-system-lock:before {
    content: "\f18c";
}
.nzsb-system-message-bubble:before {
    content: "\f18d";
}
.nzsb-system-message:before {
    content: "\f18e";
}
.nzsb-system-minimize:before {
    content: "\f18f";
}
.nzsb-system-minus:before {
    content: "\f190";
}
.nzsb-system-mobile:before {
    content: "\f191";
}
.nzsb-system-more:before {
    content: "\f192";
}
.nzsb-system-news-1:before {
    content: "\f193";
}
.nzsb-system-news-2:before {
    content: "\f194";
}
.nzsb-system-non-catalogue:before {
    content: "\f195";
}
.nzsb-system-online:before {
    content: "\f196";
}
.nzsb-system-open-credit-account:before {
    content: "\f197";
}
.nzsb-system-outlined-arrow-up:before {
    content: "\f198";
}
.nzsb-system-phone:before {
    content: "\f199";
}
.nzsb-system-plus:before {
    content: "\f19a";
}
.nzsb-system-print:before {
    content: "\f19b";
}
.nzsb-system-question-double-lined-rounded:before {
    content: "\f19c";
}
.nzsb-system-question-double-lined:before {
    content: "\f19d";
}
.nzsb-system-question-rounded:before {
    content: "\f19e";
}
.nzsb-system-save:before {
    content: "\f19f";
}
.nzsb-system-search:before {
    content: "\f1a0";
}
.nzsb-system-share:before {
    content: "\f1a1";
}
.nzsb-system-swap:before {
    content: "\f1a2";
}
.nzsb-system-truck:before {
    content: "\f1a3";
}
.nzsb-system-user-default:before {
    content: "\f1a4";
}
.nzsb-system-user-group:before {
    content: "\f1a5";
}
.nzsb-system-user-profile:before {
    content: "\f1a6";
}
.nzsb-system-zoom-in:before {
    content: "\f1a7";
}
.nzsb-tools-drill:before {
    content: "\f1a8";
}
.nzsb-tools-hammer:before {
    content: "\f1a9";
}
.nzsb-tools-paint-roll:before {
    content: "\f1aa";
}
.nzsb-tools-pliers:before {
    content: "\f1ab";
}
.nzsb-tools-spanner-screw-driver:before {
    content: "\f1ac";
}
.nzsb-tools-spanner:before {
    content: "\f1ad";
}
.nzsb-Valves-and-Instrumentation_-Valve-1:before {
    content: "\f1ae";
}
.nzsb-wearables-boot-1:before {
    content: "\f1af";
}
.nzsb-wearables-boot-2:before {
    content: "\f1b0";
}
.nzsb-wearables-boot-3:before {
    content: "\f1b1";
}
.nzsb-wearables-boot-4:before {
    content: "\f1b2";
}
.nzsb-wearables-boot-5:before {
    content: "\f1b3";
}
.nzsb-wearables-boot-6:before {
    content: "\f1b4";
}
.nzsb-wearables-gloves:before {
    content: "\f1b5";
}
.nzsb-wearables-mask:before {
    content: "\f1b6";
}
.nzsb-wearables-overall:before {
    content: "\f1b7";
}
