@font-face {
    font-family: "nzsb";
    src: url("/static/fonts/nzsb.ttf?f82c4d452ea6924c4c476e4d8e918969") format("truetype"),
url("/static/fonts/nzsb.woff?f82c4d452ea6924c4c476e4d8e918969") format("woff"),
url("/static/fonts/nzsb.woff2?f82c4d452ea6924c4c476e4d8e918969") format("woff2");
}

null:before {
    font-family: nzsb !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

null.nzsbi-chevron-left:before {
    content: "\e000";
}
null.nzsbi-chevron-right:before {
    content: "\e001";
}
null.nzsbi-thumbs-up:before {
    content: "\e00e";
}
null.nzsbi-thumbs-down:before {
    content: "\e00f";
}
null.nzsbi-abrasives:before {
    content: "\f101";
}
null.nzsbi-adhesive-gun:before {
    content: "\f102";
}
null.nzsbi-angled-arrow:before {
    content: "\f103";
}
null.nzsbi-arrow-down:before {
    content: "\f104";
}
null.nzsbi-arrow-left:before {
    content: "\f105";
}
null.nzsbi-arrow-right:before {
    content: "\f106";
}
null.nzsbi-arrow-up:before {
    content: "\f107";
}
null.nzsbi-award-1:before {
    content: "\f108";
}
null.nzsbi-award-2:before {
    content: "\f109";
}
null.nzsbi-board-1:before {
    content: "\f10a";
}
null.nzsbi-board-2:before {
    content: "\f10b";
}
null.nzsbi-board-3:before {
    content: "\f10c";
}
null.nzsbi-boot-1:before {
    content: "\f10d";
}
null.nzsbi-boot-2:before {
    content: "\f10e";
}
null.nzsbi-boot-3:before {
    content: "\f10f";
}
null.nzsbi-boot-4:before {
    content: "\f110";
}
null.nzsbi-boot-5:before {
    content: "\f111";
}
null.nzsbi-boot-6:before {
    content: "\f112";
}
null.nzsbi-box-1:before {
    content: "\f113";
}
null.nzsbi-box-2:before {
    content: "\f114";
}
null.nzsbi-box-3:before {
    content: "\f115";
}
null.nzsbi-boxes-1:before {
    content: "\f116";
}
null.nzsbi-calendar:before {
    content: "\f117";
}
null.nzsbi-career:before {
    content: "\f118";
}
null.nzsbi-cart:before {
    content: "\f119";
}
null.nzsbi-catalogue-1:before {
    content: "\f11a";
}
null.nzsbi-catalogue-2:before {
    content: "\f11b";
}
null.nzsbi-catalogue-3:before {
    content: "\f11c";
}
null.nzsbi-catalogue:before {
    content: "\f11d";
}
null.nzsbi-check:before {
    content: "\f11e";
}
null.nzsbi-checked-clipboard:before {
    content: "\f11f";
}
null.nzsbi-checked-shield:before {
    content: "\f120";
}
null.nzsbi-chevron-down:before {
    content: "\f121";
}
null.nzsbi-chevron-up:before {
    content: "\f122";
}
null.nzsbi-clear-rounded:before {
    content: "\f123";
}
null.nzsbi-click:before {
    content: "\f124";
}
null.nzsbi-close:before {
    content: "\f125";
}
null.nzsbi-coffee:before {
    content: "\f126";
}
null.nzsbi-cog-1:before {
    content: "\f127";
}
null.nzsbi-cog-2:before {
    content: "\f128";
}
null.nzsbi-cog-3:before {
    content: "\f129";
}
null.nzsbi-crate-1:before {
    content: "\f12a";
}
null.nzsbi-crate-2:before {
    content: "\f12b";
}
null.nzsbi-crate-3:before {
    content: "\f12c";
}
null.nzsbi-crate-4:before {
    content: "\f12d";
}
null.nzsbi-credit-card:before {
    content: "\f12e";
}
null.nzsbi-crossed-clipboard:before {
    content: "\f12f";
}
null.nzsbi-crossed-heart:before {
    content: "\f130";
}
null.nzsbi-cuttleries-1:before {
    content: "\f131";
}
null.nzsbi-cuttleries-2:before {
    content: "\f132";
}
null.nzsbi-cuttleries-3:before {
    content: "\f133";
}
null.nzsbi-cycle:before {
    content: "\f134";
}
null.nzsbi-detector-1:before {
    content: "\f135";
}
null.nzsbi-detector-2:before {
    content: "\f136";
}
null.nzsbi-document:before {
    content: "\f137";
}
null.nzsbi-dollar-1:before {
    content: "\f138";
}
null.nzsbi-dollar-2:before {
    content: "\f139";
}
null.nzsbi-download-cloud:before {
    content: "\f13a";
}
null.nzsbi-download:before {
    content: "\f13b";
}
null.nzsbi-drill:before {
    content: "\f13c";
}
null.nzsbi-edit:before {
    content: "\f13d";
}
null.nzsbi-email:before {
    content: "\f13e";
}
null.nzsbi-exclamation-1:before {
    content: "\f13f";
}
null.nzsbi-exclamation-2:before {
    content: "\f140";
}
null.nzsbi-exit:before {
    content: "\f141";
}
null.nzsbi-expand-1:before {
    content: "\f142";
}
null.nzsbi-expand:before {
    content: "\f143";
}
null.nzsbi-external-link:before {
    content: "\f144";
}
null.nzsbi-extinuisher-1:before {
    content: "\f145";
}
null.nzsbi-extinuisher-2:before {
    content: "\f146";
}
null.nzsbi-extinuisher-3:before {
    content: "\f147";
}
null.nzsbi-eye:before {
    content: "\f148";
}
null.nzsbi-filter:before {
    content: "\f149";
}
null.nzsbi-fire-exit-1:before {
    content: "\f14a";
}
null.nzsbi-fire-exit-2:before {
    content: "\f14b";
}
null.nzsbi-flame-1:before {
    content: "\f14c";
}
null.nzsbi-flame-2:before {
    content: "\f14d";
}
null.nzsbi-flood:before {
    content: "\f14e";
}
null.nzsbi-gauge-1:before {
    content: "\f14f";
}
null.nzsbi-gauge-2:before {
    content: "\f150";
}
null.nzsbi-gauge-3:before {
    content: "\f151";
}
null.nzsbi-gauge-4:before {
    content: "\f152";
}
null.nzsbi-glove:before {
    content: "\f153";
}
null.nzsbi-gloves:before {
    content: "\f154";
}
null.nzsbi-green-house:before {
    content: "\f155";
}
null.nzsbi-grid:before {
    content: "\f156";
}
null.nzsbi-hammer:before {
    content: "\f157";
}
null.nzsbi-heart:before {
    content: "\f158";
}
null.nzsbi-helmet-on-1:before {
    content: "\f159";
}
null.nzsbi-helmet-on-2:before {
    content: "\f15a";
}
null.nzsbi-history:before {
    content: "\f15b";
}
null.nzsbi-hook:before {
    content: "\f15c";
}
null.nzsbi-hose-1:before {
    content: "\f15d";
}
null.nzsbi-hose-2:before {
    content: "\f15e";
}
null.nzsbi-hose-3:before {
    content: "\f15f";
}
null.nzsbi-hose-4:before {
    content: "\f160";
}
null.nzsbi-hour-glass:before {
    content: "\f161";
}
null.nzsbi-idea:before {
    content: "\f162";
}
null.nzsbi-info-squared:before {
    content: "\f163";
}
null.nzsbi-info:before {
    content: "\f164";
}
null.nzsbi-leak-1:before {
    content: "\f165";
}
null.nzsbi-link:before {
    content: "\f166";
}
null.nzsbi-loader:before {
    content: "\f167";
}
null.nzsbi-location-pin:before {
    content: "\f168";
}
null.nzsbi-lock:before {
    content: "\f169";
}
null.nzsbi-lubricant-1:before {
    content: "\f16a";
}
null.nzsbi-lubricant-2:before {
    content: "\f16b";
}
null.nzsbi-lubricant-3:before {
    content: "\f16c";
}
null.nzsbi-mask:before {
    content: "\f16d";
}
null.nzsbi-masked-face:before {
    content: "\f16e";
}
null.nzsbi-message-bubble:before {
    content: "\f16f";
}
null.nzsbi-message:before {
    content: "\f170";
}
null.nzsbi-minimize:before {
    content: "\f171";
}
null.nzsbi-minus:before {
    content: "\f172";
}
null.nzsbi-mobile:before {
    content: "\f173";
}
null.nzsbi-more:before {
    content: "\f174";
}
null.nzsbi-news-1:before {
    content: "\f175";
}
null.nzsbi-news-2:before {
    content: "\f176";
}
null.nzsbi-non-catalogue:before {
    content: "\f177";
}
null.nzsbi-nut-and-bolt:before {
    content: "\f178";
}
null.nzsbi-online:before {
    content: "\f179";
}
null.nzsbi-open-credit-account:before {
    content: "\f17a";
}
null.nzsbi-outlined-arrow-up:before {
    content: "\f17b";
}
null.nzsbi-overall:before {
    content: "\f17c";
}
null.nzsbi-paint-roll:before {
    content: "\f17d";
}
null.nzsbi-phone:before {
    content: "\f17e";
}
null.nzsbi-pliers:before {
    content: "\f17f";
}
null.nzsbi-plug-base:before {
    content: "\f180";
}
null.nzsbi-plus:before {
    content: "\f181";
}
null.nzsbi-print:before {
    content: "\f182";
}
null.nzsbi-promotion:before {
    content: "\f183";
}
null.nzsbi-pully:before {
    content: "\f184";
}
null.nzsbi-question-double-lined:before {
    content: "\f185";
}
null.nzsbi-question-double-lined&#x3D;rounded:before {
    content: "\f186";
}
null.nzsbi-question-rounded:before {
    content: "\f187";
}
null.nzsbi-rain:before {
    content: "\f188";
}
null.nzsbi-roll-1:before {
    content: "\f189";
}
null.nzsbi-roll-2:before {
    content: "\f18a";
}
null.nzsbi-roll-3:before {
    content: "\f18b";
}
null.nzsbi-roll-4:before {
    content: "\f18c";
}
null.nzsbi-roll-5:before {
    content: "\f18d";
}
null.nzsbi-roll-6:before {
    content: "\f18e";
}
null.nzsbi-safety-goggles:before {
    content: "\f18f";
}
null.nzsbi-save:before {
    content: "\f190";
}
null.nzsbi-search:before {
    content: "\f191";
}
null.nzsbi-share:before {
    content: "\f192";
}
null.nzsbi-spanner-screw-driver:before {
    content: "\f193";
}
null.nzsbi-spanner:before {
    content: "\f194";
}
null.nzsbi-spray-bottle-2:before {
    content: "\f195";
}
null.nzsbi-spray-bottle:before {
    content: "\f196";
}
null.nzsbi-spray-bottles-1:before {
    content: "\f197";
}
null.nzsbi-spray-bottles-2:before {
    content: "\f198";
}
null.nzsbi-spray-bottles-3:before {
    content: "\f199";
}
null.nzsbi-stack:before {
    content: "\f19a";
}
null.nzsbi-stapler:before {
    content: "\f19b";
}
null.nzsbi-stationary:before {
    content: "\f19c";
}
null.nzsbi-sun:before {
    content: "\f19d";
}
null.nzsbi-swap:before {
    content: "\f19e";
}
null.nzsbi-take-away-cup:before {
    content: "\f19f";
}
null.nzsbi-tape-1:before {
    content: "\f1a0";
}
null.nzsbi-tape-2:before {
    content: "\f1a1";
}
null.nzsbi-tape-3:before {
    content: "\f1a2";
}
null.nzsbi-tape-4:before {
    content: "\f1a3";
}
null.nzsbi-tape-5:before {
    content: "\f1a4";
}
null.nzsbi-tea:before {
    content: "\f1a5";
}
null.nzsbi-traffic-cone:before {
    content: "\f1a6";
}
null.nzsbi-tree:before {
    content: "\f1a7";
}
null.nzsbi-truck:before {
    content: "\f1a8";
}
null.nzsbi-two-rolls-1:before {
    content: "\f1a9";
}
null.nzsbi-user-default:before {
    content: "\f1aa";
}
null.nzsbi-user-group:before {
    content: "\f1ab";
}
null.nzsbi-user-profile:before {
    content: "\f1ac";
}
null.nzsbi-Valve-1:before {
    content: "\f1ad";
}
null.nzsbi-valve-1:before {
    content: "\f1ae";
}
null.nzsbi-valve-2:before {
    content: "\f1af";
}
null.nzsbi-valve-3:before {
    content: "\f1b0";
}
null.nzsbi-valve-4:before {
    content: "\f1b1";
}
null.nzsbi-valve-5:before {
    content: "\f1b2";
}
null.nzsbi-wheel-barrow:before {
    content: "\f1b3";
}
null.nzsbi-zoom-in:before {
    content: "\f1b4";
}
